#root{    
    margin: auto;
    width: 992px;
}.separator {
    border-left: 1px solid #dee2e6;
    padding-right: 15px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.form-titles{
    margin: 25px 0 auto auto;
    text-align: right;
}
.form-fields{
    margin: 30px auto auto 0;
}
.current-admin li {
    border: none !important;
}
.form-smaller-dropdown{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.nav .active {
    font-weight: 600;
}
.form-change{    
    margin: 15px 0 0px auto;
    display: block !important;
}
.back {
    margin: 15px auto 0 0 !important;
    width: 70px;
}
.form-change-buttons{
    margin-top: 15px;
    text-align: end;
}
.form-change-buttons button{
    margin-left: 30px;
}
.fields-warning{    
    width: 50%;
    margin: auto 0 auto auto;
    transition: 2s;
    transition: height 2s;
}
.form-control {
    /* height: 50px; */
}
.list-group-item {    
    margin-bottom: 1rem;
    border-color: transparent;
}
.table th {
    border: 0 !important;
}
.table td, .table th {
    padding: 0.5rem;
}

.table-editor-helper > :nth-child(n) :hover .pen{
    opacity: 1 !important;
}
.pen{
    vertical-align: middle !important;
    cursor: pointer;
    width: 30px;
    transform: scaleX(-1);
    opacity: 0;
}
.pen:hover{
    background-color: lightblue !important;
}
.react-datepicker__time-container {
    width: 100px;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box{
    width: 100%;
}
.react-datepicker-wrapper .react-datepicker__input-container input {
    width: 220px;    
}
.purchase .list-group input, textarea {
    width: 220px;    
}