.filter-multi-select .dropdown{
  display: inline-block;
}
.filter-multi-select {
  margin: 10px 0
}
.multi {
  display: inline-block;
  min-width: 150px;
}
.multi-large {
  min-width: 250px;
}
.multi-larger {
  min-width: 350px;
}
.mini-form-low-opacity{
  opacity: 0.5;
}
.mini-form-hight-opacity{
  opacity: 0.85;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mini-form-hight-opacity :focus{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}